.AboutMe {
  background: black;
  width: 100%;
  box-sizing: border-box;
}

.AboutMe .Container {
  color: white;
  display: flex;
}
.AboutMe .Text {
  text-align: left;
  margin-left: 4%;
  margin-right: 10%;
}

.AboutMe h1 {
  font-size: 3rem;
}

.AboutMe p {
  text-align: justify;
  font-size: 1.5rem;
}

.AboutMe .Profile {
  width: 50%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
}
.AboutMe .Image {
  width: 90%;
  border-radius: 10%;
  align-items: center;
}

@media (max-width: 750px){
  .AboutMe .Container{
    display: flex;
    flex-direction: column; 
  }
  .AboutMe .Container .Text h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .AboutMe .Container .Text p{
    font-size: 1em;
    text-align: center;
  }
  .AboutMe .Container .Profile {
    margin-left: 7.7rem;
  }
}