.Skills {
    background: #141313;
    color: white;

}

.Skills .Container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.Skills p {
    width: 100%;
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0;
    font-size: 1.5rem;
}
.Skills .List {
    flex-basis: 33%;
    margin-bottom: 10px;
}
.Skills .List ul {
    list-style: none;
    background: black;
    box-shadow: 0 0 12px 4px white;
    border-radius: 10px;
 
}
.Skills .List ul li {
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  
}

@media (max-width: 750px) {
    .Skills p {
        width: 100%;
      padding: 1.5rem;
     }
    .Skills .Container img {
        width: 27.5rem;
        margin-left: .2rem;
    }
    .Skills .List {
        flex-basis: 100%;
    }
}