.Skills {
    background: #141313;
    color: white;

}

.Skills .Container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.Skills p {
    width: 100%;
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0;
    font-size: 1.5rem;
}
.Skills .List {
    flex-basis: 33%;
    margin-bottom: 10px;
}
.Skills .List ul {
    list-style: none;
    background: black;
    box-shadow: 0 0 12px 4px white;
    border-radius: 10px;
 
}
.Skills .List ul li {
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  
}

@media (max-width: 750px) {
    .Skills p {
      text-align: center;
      padding: .5rem 1rem;
      font-size: 1em;
     }
     .Skills .Container  {
         display: flex;
         flex-basis: 100%;
     }
    .Skills .Container img {
        max-width: 20rem;
    }
    .Skills .List {
        flex-basis: 100%;
    }
}