
.Background {
    width: 100%;
}
.Projects{
    display: flex;
    width: 100%;
    padding: 5rem 0;
}

.FrameContainer {
   width: 30rem;
   margin: .5rem;
}

.Iframe {
    margin: .5rem;
}

.LinkBtn {
    background: teal;
    width: 25rem;
    padding: .5rem;
    border-radius: 1rem;
    font-weight: bold;
    color:white;
}

@media (max-width: 750px) {
    .Projects {
        display: flex;
        flex-wrap: wrap;
        padding-top: .5rem;
    }
    .Projects .Iframe {
        display: flex;
        flex-basis: 100%;
        max-width: 20rem;
    }
    .Projects .LinkBtn {
        width: 20rem;
        /* text-align: center; */
        align-items: flex-start;
    }
}